body{
    display:flex;
    width: 100vw;
    height: 100vh;
    align-items: center;   
    flex-direction: column;
    margin: 0;
    background-size: cover;
    background-color: rgb(168, 201, 230);
    background-image: url(../Calculator/275310-P5VU87-469.jpg);
}
.head{
    font-family: Cute Jellyfish;
    color:rgba(127, 212, 255, 0.669);
   display: flex;
   justify-content: center;
   align-items: center;
 
}
.head h1{
   display: flex;
    text-shadow: 5px 5px 7px rgb(151, 59, 176);
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}
.centro{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    translate: 0 -20px;
}
.calculator{
    display: flex;
    background-image: url(../Calculator/4173737.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    flex-direction: column;
    background-color:rgb(250, 247, 247);
    width: 350px;
    align-items: center;
    height: 520px;
    border-radius: 7%;
    box-shadow: 15px 15px 4px  rgb(51, 50, 47);
  
}
.container{
    background-color: rgb(199, 196, 176);
    width: 290px;
    height: 60px;
    display:flex;
    margin-top: 20px;
    padding:  6px 10px;
    align-items: end;
    flex-direction: column;
    box-shadow: inset 10px 10px 10px rgb(51, 50, 47);
    
    
}

.numbers{
    gap: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
button{
    width: 70px;
    height: 70px;
    font-size: 30px;
    border: 1px solid rgb(74, 195, 232);
    border-radius: 30%;
    box-shadow: inset 3px 3px 6px rgb(75, 38, 130);
   transition: 0.3s ease-in-out;
    color: rgb(0, 114, 159);
    font-weight: 700;
    
} 
button:hover{
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
    background-color: azure;
    
}
#zero{
    width: 150px;
}
#LastScreen{
   /* background-color: rgb(183, 220, 220);*/
    width: 130px;
    height: 30px;
    font-size: 15px;
    padding: 3px;
    display: flex;
    justify-content: end;
}
#CurrentScreen{
   /* background-color: rgb(101, 107, 141);*/
    width: 130px;
    height: 30px;   
    padding: 3px 0;
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-bottom: 4px;
    
}
.footer{
    display: flex;
    width: 100vw;
    margin-top: 10px;
    justify-content: center;
    background-color: rgba(127, 212, 255, 0.361);
   box-shadow: -1px -10px 20px rgb(59, 7, 101);

}